*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Manrope',sans-serif;
}

main{
    background-position: left 839px,right 1265px,left 2179px;
    background-image: url('../img/Subtract (3).svg'),url('../img/Subtract (2).svg'),url('../img/Ellipse 8.svg');
    background-repeat: no-repeat;
}

button{
    border: 0;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

address{
    font-style: normal;
}

.city-select{
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
}

.selectCity{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selectCity img{
   height: 16px;
   width: 16px;
   margin-right: 8px;
}

.city-select:focus{
   outline: none;
}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.burger{
    position: absolute;
    top:0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 4px 0px 50px rgba(0, 0, 0, 0.15);
    padding: 16px;
    width: 340px;
    z-index: 1000000;
}

.burger-close{
    margin-bottom: 22px;
}

.menu-content{
    display: none;
}

.menu-img{
    background-image: url(../img/Frame\ 1453.svg);
    width: 8px;
    height: 8px;
}

.menu-item__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 16px 16px;
    margin-bottom: 8px;
}

.menu-item__header h3{
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    color: #000000;
}

.menu-content ul {
    list-style: none;
    box-sizing: border-box;
    margin-left: 0;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu-content ul li {
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    border-bottom: 0px solid #000;
}

.menu li{
    border-bottom: 1px solid #F8F8F8;

}

.active .menu-item__header h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #000000;
}

.active .menu-content{
    display: flex;
    flex-direction: column;
}

.active .menu-item__header .menu-img{
    background-image: url('../img/Frame 2.svg');
}

.display-none{
    display: none;
}

.nav-item{
    cursor: pointer;
}

header{
    margin: 0 auto;
    max-width: 1290px;
}

.header-top{
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 8px;
}

.header__more-info{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #000000;
    max-width: 730px;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    margin-right: 75px;
}

.header__more-info address, 
.header__more-info p, 
.header__more-info a{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__icon{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.line{
    width: 18px;
    height: 2px;
    background: #000000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.mobile-menu{
    gap: 8px;
    display: none;
    cursor: pointer;
}

.logo{
    margin-right: 39px;
    align-items: center;
}

.logo-img{
    width: 31px;
    height: auto;
    margin-right: 9px;
}

.logo-name{
    width: 141px;
}

.logo-name h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 110%;
    color: #000000;
    padding-bottom: 4px;
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 3px;
}

.logo-name p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 130%;
}


.header-bottom{
    align-items: center;
    justify-content: space-between;
    margin-right: 7px;
    margin-bottom: 27px;
}


.header__descr{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    width: 180px;
    margin-right: 85px;
}

.header-main{
    align-items: center;
}


.header__input img{
 padding: 11px;
 background-color: blue;
 border-radius: 10px;
 cursor: pointer;
 transition: all .2s ease-in-out;
 -webkit-transition: all .2s ease-in-out;
 -moz-transition: all .2s ease-in-out;
 -ms-transition: all .2s ease-in-out;
 -o-transition: all .2s ease-in-out;
}


.header__input img:hover {
    background-color: #A20E8B;
   }


.header__phone-number{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}

.header__input{
    align-items: center;
    outline: 1px solid #E1E1E1;
    border-radius: 10px;
}

.header__search::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #DEDEDE;
}


.header__search{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 14px;
    border: 0;
    outline: 0;
    width: 205px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: transparent;
}

.header_nav{
    align-items: center;
    justify-content: space-between;
    margin-right: 87px;
    margin-bottom: 34px;
}

.nav-list{
    gap:40px ;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
}

.card{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    align-items: flex-end;
}

.card img{
    margin-right: 6px;
}

.card p{
 padding-bottom: 4px;
}



.hero{
    max-width: 1290px;
    margin: 0 auto;
    padding-top: 34px;
    margin-bottom: 60px;
}

.hero-swipper{
    width: 740px;
    height: 480px;
    position: relative;
    background-image: url('../img/slider-bg.png');
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    margin-right: 30px;
}

.hero-swipper::before{
    position: absolute;
    width: 279px;
    height: 296px;
    bottom: 0;
    right: 0px;
    z-index: 25;
    content: '';
    background-image: url('../img/Ellipse 6 (Stroke).svg');
    background-size: contain;
    background-repeat: no-repeat;
}



.hero-swipper::after{
    position: absolute;
    width: 300px;
    height: 512px;
    bottom: 0;
    right: 40px;
    z-index: 15;
    content: '';
    background-image: url('../img/DCS-166_-PhotoRoom 1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.swiper{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
}

.slider-title{
    width: 298px;
    margin-top: 68px;
    margin-left: 44px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    margin-bottom: 40px;
}


.swiper-descr{
    width: 298px;
    margin-bottom: 40px;
    margin-left: 44px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
}

.swiper-btn{
    width: 200px;
    padding: 20px;
    background: #0036F8;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.1em;
    margin-left: 44px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}


.swiper-btn:hover{
   background-color: #A20E8B;
}


.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 40px;
    left: 40px;
    width: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,6px));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,6px));
    display: inline-block;
    border-radius: 50%;
    background: var(--swiper-pagination-bullet-inactive-color, #E1E1E1);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
}

.swiper-pagination-bullet-active {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,10px));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,10px));
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: black;
}


.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,8px);
}

.hero-right{
    width: 520px;
    margin-top: -35px;
}

.hero-more{
    padding-top: 32px;
    padding-left: 42px;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 100%;
}

.hero-more h2{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    max-width: 288px;
    margin-bottom: 16px;
}


.hero-more p{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    max-width: 288px;
    margin-bottom: 16px;
}


.hero-more a{
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 13px 32px;
    margin-bottom: 42px;
    background: #0036F8;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}


.hero-more a:hover{
    background-color: #A20E8B;
}

.mb{
    margin-bottom: 34px;
}


.bg-2{
    background-image: url('../img/Mask group (1).png');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}


.bg-1{
    background-image: url('../img/Mask group.png');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.article{
    margin: 0 auto;
    max-width: 1290px;
    margin-bottom: 120px;
}

.article-main{
    align-items: flex-start;
}

.article-title{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 32px;
}

.article-descr{
    max-width: 850px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 18px;
}

.article-descr span{
    display: inline-block;
    margin-top: 20px;
}

.article-logo{
    width: 410px;
    height: auto;
    margin-top: 8px;
}

.article-title__two{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 40px;
}


.article-item{
    padding-top: 224px;
    width: 200px;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

.article-item h4{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
}

.article-item p{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
}

.article-list{
    gap: 130px;
}

.item1{
    background-image: url('../img/briefcase 2.png');
}


.item2{
    background-image: url('../img/image 343.png');
}

.item3{
    background-image: url('../img/image 344.png');
}

.item4{
    background-image: url('../img/image 345.png');
}

.services{
    max-width: 1290px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.services-title{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 32px;
}

.services-left {
    max-width: 630px;
    margin-right: 30px;
    align-items: flex-start;
}

.services-left__descr{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 32px;
}


.services-list{
    margin-left: 35px;
    list-style: disc;
}


.services-item{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 16px;
}

.mr-54{
    margin-right: 54px;
}

.services-lists{
    align-items: flex-start;
    margin-bottom: 32px;
}

.services-btn{
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    padding: 13px 34px;
    background-color: #0036F8;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}


.services-btn:hover{
    background-color: #A20E8B;
}

.services-main{
    align-items: flex-start;
}

.services-right__list{
    flex-wrap: wrap;
    gap: 30px;
    align-items: flex-start;
}

.services-right__item{
    width: 300px;
    position: relative;
    padding-top: 140px;
    background-image: url('../img/image 323.png');
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.15);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-bottom: 70px;
}


.service-content{
    position: absolute;
    background-color: #fff;
    padding: 24px 16px 14px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: linear-gradient(94.87deg, #0036F8 52.3%, #001C81 88.94%);
    overflow: hidden;
}

.service-content h4{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    transition:color .3s ease-in-out;
    -webkit-transition:color .3s ease-in-out;
    -moz-transition:color .3s ease-in-out;
    -ms-transition:color .3s ease-in-out;
    -o-transition:color .3s ease-in-out;
}

.service__more-content{
    height: 0;
    font-weight: 300;
    font-size: 0;
    line-height: 140%;
    transition:all .3s ease-in-out;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;

}

.services-right__item:hover .service-content h4{
    color: #000000;
    margin-bottom: 14px;
}

.services-right__item:hover .service__more-content{
    height: auto;
    font-size: 12px;
}

.services-right__item:hover .service-content{
    bottom: -8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-image: linear-gradient(94.87deg, #fff 52.3%, #fff 88.94%);
}




.catalog{
    max-width: 1290px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.catalog-title{
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 32px;
}

.catalog-list{
    flex-wrap: wrap;
    gap: 30px;
}

.catalog-item{
    width: 410px;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    border-radius: 10px;
    min-height: 243px;
    padding-bottom: 24px;
}


.catalog-item__title{
    padding: 35px 50px 35px 96px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 24px;
    background-image: url('../img/image 354.svg');
    background-repeat: no-repeat;
    background-position: 24px 24px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.catalog-item:hover .catalog-item__title{
    background-color: #0036F8;
    color: #fff;
}

.catalog-item__list{
    list-style: disc;
    margin-left: 48px;
    margin-right: 24px;
    margin-bottom: 24px;
    
}

 
.catalog-item__list li{
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
}


.catalog-showMore{
    display: inline-block;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    color: #FFFFFF;
    margin-left: 24px;
    padding: 8px 15px;
    background-color: #0036F8;
    border-radius: 6px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.catalog-showMore:hover{
   background-color: #A20E8B;
}

.news{
    max-width: 1290px;
    margin: 0 auto;
    margin-bottom: 120px;
}


.news-title{
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
}

.news-list{
    gap: 30px;
    align-items: flex-start;
}

.news-list__item{
    max-width: 300px;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding-bottom: 24px;
}

.news-list__item-img{
    width: 100%;
    margin-bottom: 24px;
}

.news-date{
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    margin-left: 24px;
    margin-bottom: 16px;
}


.news-header{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-left: 24px;
    margin-right: 24px;
}

.news-descr{
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
}

.news-btn{
    margin-left: 24px;
    font-weight: 700;
    padding: 8px 16px;
    font-size: 10px;
    line-height: 14px;
    color: #FFFFFF;
    background-color: #0036F8;
    border-radius: 6px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.news-btn:hover{
   background-color: #A20E8B;
}


.price{
    max-width: 1290px;
    margin: 0 auto;
    padding-top: 52px;
    padding-bottom: 48px;
    position: relative;
    margin-bottom: 120px;
}

.price::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 26px;
    height: 100%;
    width: 244px;
    background-image: url('../img/DSC-142-PhotoRoom_ 1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.price-banner{
    align-items: center;
    width: 100%;
    padding: 31px 32px;
    background: linear-gradient(94.87deg, #0036F8 52.3%, #001C81 88.94%);
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}


.price-title{
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
    margin-right: 95px;

}

.price-title span{
    font-weight: 800;
    font-size: 122px;
    line-height: 103px;
}

.price-list__item{
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

.price-list{
    gap: 24px;
    list-style: disc;
    margin-right: 81px;
}


.price-btn{
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.1em;
    color: #0036F8;
    padding: 14px 26px;
    background-color: #fff;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}


.price-btn:hover{
    color: #fff;
    background-color: #A20E8B;
}

.map{
    max-width: 1290px;
    margin: 0 auto;
    margin-bottom: 70px;
}


.map img{
    border-radius: 10px;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.15);
}














footer{
    background-image: url('../img/Subtract.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: top right;
    position: relative;
}
.footer-bg{
    padding-top: 176px;
    background-image: url('../img/image1 1.png'), url('../img/image1 2.png'),url('../img/image1 1.png');
    background-size:34.3% ,30.7%, 34.3%;
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-position: bottom left, bottom center, bottom right;
}

.footer-center{
    max-width: 1290px;
    margin: 0 auto;
}

.f-logo{
    margin-right: 111px;
    align-items: center;
}

.f__logo-img{
    width: 56px;
    height: auto;
    margin-right: 16px;
}

.f__logo-name{
    width: 256px;
}

.f__logo-name h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 110%;
    color: #000000;
    padding-bottom: 9px;
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 6px;
}

.f__logo-name p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}


.footer__phone-number{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-right: 98px;
    white-space: nowrap;
}

.footer-top{
    align-items: center;
    margin-bottom: 32px;
}

.footer__input{
    align-items: center;
    outline: 1px solid #E1E1E1;
    border-radius: 10px;
    margin-right: 98px;
}

.footer__search::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #DEDEDE;
}


.footer__search{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 14px;
    border: 0;
    outline: 0;
    width: 250px;
    margin-right: 10px;
    border-radius: 10px;
}

.footer__input img{
    padding: 12px 10px;
    background-color: blue;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.footer__input img:hover{
    background-color: #A20E8B;
}

.social-list{
    gap: 16px;
    align-items: center;
}

.social-item{
    width: 24px;
    height: 24px;
}

.social-item a{
    display: block;
    width: 24px;
    height: 24px;
}

.social-item a img{
    width: 24px;
    height: 24px;
}

.footer-main__item{
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    margin-bottom: 16px;
    max-width: 190px;
}

.footer__list-name{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #000000;
}

.footer-main__list{
   margin-top: 8px;
}

.footer-main__list:not(:nth-child(3)){
    margin-right: 30px;
}

.footer-main__list:nth-child(3){
    margin-right: 250px;
}


.work-time h4{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 8px;
}


.work-time p{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 22px;
}


.recvisites h4{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 8px;
}


.recvisites p{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
}

.recvisites{
    margin-bottom: 18px;
}


.more-question{
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
}

.number-small{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 8px;
}

.phone-more{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    margin-bottom: 24px;
}

.agreement,.offer{
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 200%;
    text-decoration-line: underline;
    color: #0036F8;
 
}

.agreement{
    margin-bottom: 16px;
}

.footer-main{
    padding-bottom: 350px;
}

.footer__woman-bg{
    position: absolute;
    bottom: 0;
    right: 284px;
    background-image: url('../img/Group 1475.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 403px;
    height: 376px;
}

.burger-box{
    display: none;
}

@media (max-width:1350px) {
    header {
       padding-left: 20px;
       padding-right: 20px;
    }
    .nav-list {
        gap: 25px;
        font-size: 12px;
    }
    .header_nav {
        margin-right: 7px;
    }













    .hero-more {
        padding-top: 20px;
        padding-left: 27px;}
    .hero-more h2 {
        font-size: 16px;
        max-width: 204px;
    }
    .hero-more p {
        font-size: 12px;
        max-width: 215px;
    }
    .hero-right {
        width: 504px;
    }
    main {
        padding-left: 20px;
        padding-right: 20px;
    }
    .hero-swipper::after {
        width: 232px;
        height: 395px;
        right: 0px;
    }
    .hero-swipper {
        max-width: 740px;
    }
    .slider-title {
        width: 208px;
        margin-left: 44px;
        font-size: 28px;
        margin-bottom: 40px;
    }
    .swiper-descr {
        width: 225px;
        margin-left: 44px;
        font-size: 14px;
    }
    .swiper {
        width: 58%;
    }

    .article-title {
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 27px;
    }
    .article-descr {
        max-width: 530px;
        font-size: 12px;
    }
    .article-logo {
        width: 35%;
        margin-right: 50px;
    }
    .article-main {
       justify-content: space-between;
    }
    .mr-54 {
        margin-right: 0px;
    }
    .services-item {
        font-size: 14px;
    }
    .services-lists {
        width: 90%;
        justify-content: space-between;
    }
    .services-right{
        width: 630px;
    }
    .service-content h4 {
        font-size: 12px;
    }
    .services-left {
        max-width: 515px;
        margin-right: 30px;
    }
    .services-main{
        justify-content: space-between;
    }
    .services-title {
        font-size: 28px;
    }
    .catalog-title {
        font-size: 28px;
    }
    .catalog-list {
        gap: 15px;
    }
    .catalog-item {
        width: 383px;
    }
    .news-title {
        font-size: 28px;
    }
    .price-title {
        font-size: 18px;
        margin-right: 0px;
    }
    .price-title span {
        font-size: 90px;
    }
    .price-banner {
        justify-content: space-between;}
    .price-list {
        margin-right: 0px;
        margin-left: 28px;
    }
    .price-btn {
        margin-right: 220px;
    }
    .price-list__item {
        font-size: 16px;
        line-height: 20px;
    }










    .footer-center {
        padding-left: 20px;
        padding-right: 20px;
    }
    .f-logo {
       margin-right: 0;
    }
    .footer__phone-number {
        margin-right: 0;
        font-size: 16px;
    }
    .footer__input {
       margin-right: 0;
    }
    .footer-top {
       justify-content: space-between;
    }
    .footer__search {
        font-size: 10px;
        line-height: 14px;
        padding-top: 9px;
        padding-bottom: 9px;
        width: 193px;
    }
    .social-list {
        gap: 8px;
    }
    .footer-main__list:not(:nth-child(3)) {
        margin-right: 0px;
    }
    .footer-main__list:nth-child(3) {
        margin-right: 0px;
    }
    .footer-main {
       justify-content: space-between;
    }
}

@media (max-width:1250px) {
    .services-item {
        font-size: 10px;margin-bottom: 10px;
    }
    .services-left__descr {
        font-size: 12px;
        margin-bottom: 16px;
    }
    .services-left {
        max-width: 400px;
        margin-right: 15px;
    }
    .services-title {
        margin-bottom: 20px;
    }
    .catalog-item {
        width: 348px;
    }
    .catalog-item__list li {
        font-size: 12px;
    }
    .footer__woman-bg {
        width: 369px;
        height: 345px;
    }
}
@media (max-width:1150px) {
    .services-right__item {
        width: 250px;
    }
    .services-right {
        width: 515px;
    }
    .services-right__list {
        gap: 15px;
    }
    .catalog-item {
        width: 295px;
    }
    .bg-1 {
        background-size: 37%;
    }
    .bg-2 {
        background-size: 42%;
    }
}






@media (max-width:992px) {
    .header__phone-number {
        font-size: 14px;
    }
    .header-bottom {
        margin-right: 0px;
    }
    .header_nav {
        margin-right: 0px;
    }
    .nav-list {
        gap: 12px;
        font-size: 10px;
    }
    header {
        padding-left: 10px;
        padding-right: 10px;
    }
    .header__descr {
        font-size: 10px;
        margin-right: 20px;
        width: 153px;
    }
    .logo {
        margin-right: 27px;
    }
    .header__search {
        font-size: 10px;
        line-height: 14px;
        padding-top: 9px;
        padding-bottom: 9px;
        width: 142px;
        margin-right: 10px;
    }
    .header__more-info {
        margin-right: 0;
    }

    .hero-right {
        width: 360px;
    }
    .hero-more h2 {
        font-size: 14px;
        max-width: 170px;
    }
    .hero-more p {
        font-size: 10px;
        max-width: 172px;
    }
    .hero-more a {
        font-size: 8px;
        padding: 8px 17px;
        margin-bottom: 42px;
    }
    .slider-title {
        width: 200px;
        margin-left: 31px;
        font-size: 25px;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .swiper-descr {
        width: 200px;
        margin-left: 31px;
        font-size: 12px;
    }
    .swiper-descr {
        margin-left: 31px;
        font-size: 12px;
    }

    .article-logo {
     margin-right: 0;
    }
    .article-main {
       gap: 30px;
    }

    .article-title__two {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 16px;
    }

    .article-list {
    gap: 30px;
    }
    .article-item {
        padding-top: 160px;
        width: 200px;
        background-size: 71%;
    }
    .services-left {
        max-width: 350px;
    }
    .services-left__descr {
        font-size: 10px;
    }
    .services-list {
        margin-left: 14px;
    }
    .services-item {
        font-size: 8px;
    }
    .services-right__item {
        width: 155px;
        padding-top: 91px;
        padding-bottom: 66px;
        border-radius: 10px;
    }

    .service-content h4 {
        font-size: 9px;
    }
    .services-right__item:hover .service__more-content {
        font-size: 8px;
    }
    .service-content {
        padding: 14px 16px 14px;
    }
    .catalog-item {
        width: 48%;
    }
    .news-list {
        gap: 15px;
        justify-content: space-between;
    }.news-date {
        margin-left: 10px;
        margin-right: 10px;
    }
    .news-header {
        font-size: 14px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .news-descr {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 9px;
    }
    .news-btn {
        display: block;
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        font-weight: 700;
        padding: 8px 16px;
        font-size: 10px;
        text-align: center;
    }
    .price-banner {
        padding: 10px 10px;
    }
    .price-title {
        font-size: 14px;
    }
    .price-title span {
        font-size: 70px;
    }
    .price::after {
        bottom: 12px;
        right: -20px;
        height: 86%;
        width: 218px;
    }
    .price-btn {
        font-size: 10px;
        line-height: 14px;
        padding: 10px 17px;
        z-index: 10;
        margin-right: 184px;
    }
    .price-list {
        margin-left: 19px;
        gap: 9px;
    }
    .price-list__item {
        font-size: 9px;
        line-height: 15px;
    }

    .services-right {
        width: 347px;
    }
















    .footer-main__item {
        font-size: 10px;
        max-width: 140px;
    }
    .footer-info{
        width: 170px;
    }
    .phone-more {
        font-size: 10px;
        margin-bottom: 16px;
    }

    .work-time p {
        font-size: 16px;
        margin-bottom: 16px;
    }
    .recvisites p {
        font-size: 10px;
    }

    .agreement{
        font-size: 10px;
    }
    .footer-center {
        padding-left: 10px;
        padding-right: 10px;
    }
    .f__logo-img {
        width: 33px;
        margin-right: 14px;
    }
    .f__logo-name {
        width: 216px;
    }
    .f__logo-name h3 {
        font-size: 12px;
    }
    .f__logo-name p {
        font-size: 12px;
    }
    .footer__phone-number {
        font-size: 12px;
    }
    .footer__search {
        font-size: 10px;
        width: 120px;
    }
    .footer__search::placeholder {
        font-size: 10px;
    }
    .social-item a img {
        width: 16px;
        height: 16px;
    }
    .social-item a {
        width: 16px;
        height: 16px;
    }
    .social-item {
    width: 16px;
    height: 16px;
}
}



@media (max-width:744px) {
    .header-top{
        display: none;
    }
    .header__descr {
       display: none;
    }
    .nav-list {
        display: none;
    }

    header {
       display: flex;
       flex-direction: row;
       align-items: center;
       padding-top: 16px;
       padding-bottom: 16px;
       padding-left: 12px;
       padding-right: 12px;
       justify-content: space-between;
    }
    .logo {
            margin-right: 6%;
    }
    .logo-img {
        width: 25px;
        margin-right: 7px;
    }
    .logo-name {
        width: 113px;
    }
    .logo-name h3 {
        font-weight: 700;
        font-size: 6.4px;
    }
    .logo-name p {
        font-size: 6.4px;
    }
    .header-bottom{
        justify-content: space-between;
        margin-bottom: 0;
    }
    .header__input img {
        padding: 6px;
        height: 24px;
        width: 24px;
        border-radius: 6px;
    }
    .header__search {
        font-size: 10px;
        line-height: 14px;
        padding-top: 4px;
        padding-bottom: 4px;
        max-width: 215px;
        width: 215px;
    }
    .header__input {
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        margin-right: 33px;
}
.burger-box{
    display: block;
    position: absolute;
    left: -100%;
    top: 0;
    width: 278px;
    background-color: #fff;
    z-index: 102;
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.15);
    border-radius: 0px 10px 10px 0px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.activeMainBurger{
    left: 0;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.burgerMenu{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.burger-header{
    gap: 16px;
}

.burger__input {
    outline: 1px solid #E1E1E1;
    border-radius: 6px;
    height: 24px;
}

.burger__input img{
    background: #0036F8;;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
}

.burger__search {
    outline: 0;
    border: 0;
    margin-left: 7px;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    width: 175px;
}

.burger__search:focus{
    outline: 0;
    border: 0;
}

.burger-header{
    margin-bottom: 16px;
}

.burger-header button{
    height: 24px;
}

.active1 .menu-content{
    display: flex;
}

.active1 .menu-item__header{
    background: linear-gradient(94.87deg, #0036F8 52.3%, #001C81 88.94%);
border-radius: 6px;
}

.active1 .menu-item__header h3{
    color: #fff;

}

.active1 .menu-item__header .menu-img{
    width: 12px;
    height: 12px;
    background-size: contain;
    background-image: url('../img/Frame 33333.svg');
}

.header_nav {
    margin-bottom: 0;
}
.mobile-menu{
    display: flex;
    gap: 3px;
    margin-right: 27px;
}
.header__phone-number {
    font-size: 12px;
    display: inline-block;
    margin-left: 33px;
}
main {
    padding-left: 0px;
    padding-right: 0px;
}
.hero {
    flex-direction: column;
    padding-top: 49px;
    gap: 16px;
    padding-left: 12px;
    padding-right: 12px;
}
.hero-swipper {
    width: inherit;
    margin-right: 0;
}

.article{
    padding-left: 12px;padding-right: 12px;
}

.slider-title {
    width: 292px;
    margin-left: 44px;
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 68px;
}
.hero-swipper::after {
    width: 300px;
    height: 514px;
    right: 19px;
}
.swiper-descr {
    margin-left: 44px;
    font-size: 18px;
    width: 284px;
    margin-bottom: 60px;
}
.hero-right {
    width: 100%;
    margin-top: 0;
    gap: 16px;
}
.mb {
    margin-bottom: 0px;
}
.bg-1 {
    background-size: contain;
}

.bg-2 {
    background-size: contain;
}
.hero-more h2 {
    font-size: 18px;
    max-width: 235px;
}
.hero-more p {
    font-size: 14px;
    max-width: 288px;
}
.hero-more a {
    font-size: 10px;
    padding: 13px 34px;
    margin-bottom: 42px;
}
.article-main{
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.article-descr {
    max-width: 100%;
    font-size: 14px;
}

.article{
    position: relative;
}
.article-title__two {
    position: absolute;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    width: 168px;
    top: 275px;
    right: 56px;
}
.article-list {
    flex-wrap: wrap;
    gap: 60px;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.article-item {
    padding-top: 224px;
    background-size: contain;
}
.services-title {
    font-size: 24px;
    margin-bottom: 24px;
    padding-right: 12px;
    padding-left: 12px;
}
.services-main{
    flex-direction: column;
}
.services-left {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 33px;
    padding-right: 12px;
    padding-left: 12px;
}
.services-left__descr {
    font-size: 14px;
    margin-bottom: 24px;
}
.services-list {
    margin-left: 10px;
}
.services-item {
    font-size: 14px;
}
.services-lists {
    width: 82%;
}
.services-lists {
    margin-bottom: 22px;
}
.services-right {
    width: 100%;
    
}
.services-right__item {
    min-width: 300px;
    overflow-y: hidden;
    padding-top: 140px;
    padding-bottom: 79px;
}


.services-right__list::-webkit-scrollbar { width: 0; }
.services-right__list { -ms-overflow-style: none; }
.services-right__list { overflow: -moz-scrollbars-none; }

.services-right__list {
    gap: 24px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    flex-wrap: nowrap;
    padding-bottom: 100px;
} 
.service-content {
    padding: 26px 16px 14px;
}
.services-right__item:hover .service-content {
    bottom: 0px;

}

.service-content h4 {
    font-size: 14px;
}


.services-right__item:hover .service__more-content {
    font-size: 12px;
}
.catalog-item:nth-child(5),
.catalog-item:nth-child(6),
.catalog-item:nth-child(7),
.catalog-item:nth-child(8),
.catalog-item:nth-child(9),
.catalog-item:nth-child(10),
.catalog-item:nth-child(11),
.catalog-item:nth-child(12),
.catalog-item:nth-child(13),
.catalog-item:nth-child(14),
.catalog-item:nth-child(15),
.catalog-item:nth-child(16){
    display: none;
}

.services {
    margin-bottom: 0;
}

.news-list {
    gap: 30px;
    overflow-x: scroll;
    justify-content: space-between;
    scroll-snap-type:x mandatory;
    padding-bottom: 100px;
}

.news-list__item {
    min-width: 300px;
}
.news-date {
    margin-left: 24px;
    margin-right: 24px;
}
.news-header {
    font-size: 18px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 11px;
}
.news-descr {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 16px;
    font-size: 14px;
}
.news-btn {
    display: inline;
    max-width: 100%;
    margin-left: 24px;
    margin-right: 24px;
    font-weight: 700;
    padding: 8px 16px;
    font-size: 10px;
    text-align: center;
}

.news-list::-webkit-scrollbar { width: 0; }
.news-list { -ms-overflow-style: none; }
.news-list { overflow: -moz-scrollbars-none; }

.news {
    max-width: 1290px;
    margin: 0 auto;
    margin-bottom: 0px;
}

.price {
    padding-left: 12px;
    padding-right: 12px;
}
.price-list {
    margin-left: 19px;
    gap: 82px;
    position: absolute;
    top: 75px;
    flex-direction: row;
}
.price-title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: -13px;
    margin-top: 38px;
}

.price-title span {
    font-size: 90px;
}

.price-banner {
    padding: 24px 24px;
    align-items: flex-end;
}

.price-btn {
    font-size: 14px;
    line-height: 14px;
    padding: 14px 36px;
    z-index: 10;
    margin-right: 227px;
}

.price::after {
    bottom: 8px;
    right: 24px;
    height: 252px;
    width: 205px;
}
.news-title {
    font-size: 24px;
    padding-left: 12px;
    padding-right: 12px;
}
.price-list__item {
    font-size: 14px;
    line-height: 18px;
}

.map {
    padding-left: 12px;
    padding-right: 12px;
}























.footer-center {
    padding-left: 12px;
    padding-right: 12px;
}
.footer-bg {
    padding-top: 20px;
}

.footer__input {
    background-color: white;
    margin-right: 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.footer__phone-number {
   display: none;
}


.f__logo-name {
    width: 151px;
}
.f__logo-name h3 {
    font-size: 8.5px;
}
.f__logo-name p {
    font-size: 8.8px;
}

.footer__search {
    font-size: 10px;
    width: 196px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.footer__input img {
 padding: 4px 4px;
 width: 24px;
 height: 24px;
 border-radius: 6px;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
 -ms-border-radius: 6px;
 -o-border-radius: 6px;
}


.footer-main {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 282px;
    gap: 40px;
    padding-bottom: 274px;
}
.footer-main__item {
    font-size: 10px;
    max-width: 190px;
    margin-bottom: 8px;
}

.number-small{
    display: flex;
}
.footer-info{
    position: absolute;
    right: 25px;
    width: 190px;
}
.more-question {
    margin-bottom: 8px;
    font-size: 12px;
}
.footer__phone-number {
    font-size: 18px;
    margin-bottom: 3px;
}

.work-time p {
    font-size: 10px;
    margin-bottom: 24px;
}
.footer-bg {
    background-size: 66.3% ,30.7%, 66.3%;
}

.footer__woman-bg {
    right: 18px;
}

}

@media (max-width:720px) {
    .mobile-menu {
        margin-right: 12px;
    }
    .logo {
        margin-right: 4%;
    }
    .header__input {
        margin-right: 0px;
    }
    .header__phone-number {
        font-size: 9px;
    }
    .hero-swipper::after {
        width: 253px;
        height: 433px;
    }
    .price-banner {
        flex-direction: column;
        align-items: inherit;
    }
    .price-btn {
        width: 181px;
        display: inline-block;
        font-size: 14px;
        text-align: center;
        line-height: 14px;
        padding: 14px 36px;
        z-index: 10;
       margin-right: 0;
    }
    .price-title {
        margin-bottom: 20px;
    }
    
}
@media (max-width:650px) {
    .card img {
        width: 20px;
        height: 20px;
    }
    .header__search {
        width: 137px;
    }
    .slider-title {
        font-size: 34px;
    }
    .swiper-descr {
        font-size: 16px;
    }
    .hero-swipper::after {
        width: 228px;
        height: 391px;
    }
    .article-descr {
        font-size: 13px;
    }
    .footer__search {
        width: 100px;
    }
}

@media (max-width:568px) {
    .card img {
        width: 16px;
        height: 16px;
    }
    .header__search {
        width: 100px;
    }
    .card {
        align-items: center;
        font-size: 8px;
    }
    .card p {
        padding-bottom: 0;
    }
    .logo-img {
        width: 18px;
        margin-right: 5px;
    }
    .logo-name {
    width: 78px;
    }
    .logo-name h3 {
        font-size: 4.4px;
    }
    .logo-name p {
        font-size: 4.4px;
    }

    .header__phone-number {
        margin-left: 25px;
        font-size: 8px;
    }
    .slider-title {
        font-size: 24px;
        width: 200px;
        margin-bottom: 24px;
    }
    .swiper-descr {
        font-size: 10px;
        width: 179px;
        margin-bottom: 24px;
    }
    .swiper-btn {
        padding: 10px;
        font-size: 11px;
        line-height: 16px;
    }
    .hero-swipper {
        height: 360px;
    }
    .hero-swipper::after {
        width: 187px;
        height: 321px;
    }
    .hero-swipper::before {
        width: 188px;
        height: 200px;
    }
    .article-descr {
        font-size: 12px;
    }
    .services-lists {
        width: 100%;
    }
    .services-item {
        font-size: 10px;
    }
    .catalog-title {
        font-size: 24px;
        line-height: 32px;
    }
    .catalog {
        padding: 12px;
    }
    .catalog-item {
        width: 100%;
    }
    .social-list {
        gap: 4px;
    }
    .f__logo-img {
        width: 24px;
        margin-right: 9px;
    }
    .f__logo-name {
        width: 120px;
    }
    .f__logo-name h3 {
        font-size: 6.5px;
        padding-bottom: 4px;
        margin-bottom: 4px;
    }
    .f__logo-name p {
        font-size: 6.8px;
    }
}


@media (max-width:460px) {
    header {
        padding-left: 8px;
        padding-right: 8px;
    }
    .header__search {
        width: 55px;
        margin-right: 6px;
        padding-left: 6px;
    }

    .mobile-menu {
        margin-right: 8px;
    }

    .header__phone-number {
        margin-left: 15px;
        font-size: 8px;
    }

    .card img {
        margin-right: 2px;
        width: 10px;height: 10px;
    }
    .card {
    font-size: 7px;
}
.header__phone-number {
    margin-left: 15px;
    font-size: 7px;
}
.hero-swipper {
    overflow: hidden;
}
.hero-swipper::after {
    right: -67px;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    width: 100%;
}
.swiper {
    width: 68%;
}
.hero-more h2 {
    font-size: 14px;
    max-width: 237px;
}
.hero-more p {
    font-size: 12px;
    max-width: 239px;
}
.hero-more {
    padding-top: 16px;
    padding-left: 16px;
}
.hero-more a {
    font-size: 10px;
    padding: 13px 21px;
    margin-bottom: 24px;
}
.bg-1 {
    background-size: 33%;
    background-position: 119% center;
}

.bg-2 {
    background-size: 39%;
    background-position: 119% bottom;
}
.article-title__two {
    font-size: 18px;
    line-height: 22px;
    width: 126px;
  
}
.article-descr {
    font-size: 11px;
}
.article-title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 27px;
}
.price-list {
    gap: 35px;
}
.price-list__item {
    font-size: 10px;
    line-height: 14px;
}
.price-title {
    font-size: 14px;
    line-height: 18px;
}
.price-title span {
    font-size: 70px;
}
.price-btn {
    width: 116px;
    font-size: 12px;
    line-height: 14px;
    padding: 10px 11px;
}
.price::after {
    right: 12px;
    height: 206px;
    width: 160px;
}





.footer-top {
    flex-wrap: wrap;
    gap: 30px;
}

.footer-info {
    width: 157px;
    right: 8px;
}

.footer-main {
    margin-right: 55%;
}
.footer-main__item {
    font-size: 9px;
}
}

@media (max-width:383px) {
    .article-title__two {
        top: 298px;
    }
}


@media (max-width:360px) {
    header{
        padding: 10px 8px 10px 18px;
        border-bottom: 1px solid  #E1E1E1;
        margin-bottom: 16px;
    }

    .breadcrumb {
        display: none;
    }
    .header-main {
        width: 100%;
        justify-content: space-between;
    }

    .header-bottom {
        width: 75%;
    }
    .header__input {
        display: none;
    }

    .header__phone-number {
        display: none;
    }

    .card p {
       display: none;
    }

    .card img {
        margin-right: 0px;
        width: 24px;
        height: 24px;
    }

    .logo-img {
        width: 25px;
        margin-right: 8px;
    }
    .logo-name {
        width: 113px;
    }
    .logo-name h3 {
        font-size: 6.4px;
    }
    .logo-name p {
        font-size: 6.4px;
    }














    .slider-title {
        margin-left: 16px;
        font-size: 18px;
        margin-bottom: 15px;
        margin-top: 24px;
        width: 150px;

    }

    .hero {
        padding-top: 37px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .swiper-descr {
        font-size: 12px;
        width: 200px;
        margin-bottom: 24px;
        margin-left: 16px;
    }
    .hero-swipper {
        height: 262px;
    }
    .hero-swipper::after {
        width: 165px;
        height: 254px;
    }
    .hero-swipper::before {
        display: none;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 24px;
        left: 16px;
    }
    .swiper-btn {
        margin-left: 16px;
        padding: 13px;
        font-size: 10px;
        line-height: 14px;
    }
    .article-title {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 18px;
        text-align: center;
    }
    .article {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 108px;
        margin-bottom: 60px;
    }
    .article-logo {
        position: absolute;
        top: 0px;
        left: 8px;
        width: 94%;
    }
    .article-descr {
    font-size: 12px;
    margin-bottom: 16px;
}
.article-title__two {
    position: static;
    width: 240px;
}
.article-main {
    margin-bottom: 0px;
}
.article-list {
    gap: 10px;
    width: 100%;
}
.article-item {
    padding-top: 156px;
    width: 140px;
}
.article-item h4 {
    font-size: 32px;
    line-height: 46px;
}
.article-item p {
    font-weight: 600;
    font-size: 12px;
}
.services-title {
    font-size: 18px;
    margin-bottom: 16px;
    padding-right: 8px;
    padding-left: 8px;
    text-align: center;
}
.services-left__descr {
    font-size: 12px;
    margin-bottom: 16px;
}
.services-left {
    margin-right: 0;
    margin-bottom: 24px;
    padding-right: 8px;
    padding-left: 8px;
}

.mr-54{
    display: none;
}
.services-btn{
    display: none;
}
.services-lists {
    margin-bottom: 0;
}
.services-right__list {
    padding-bottom: 60px;
}
.catalog-title {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 16px;
}
.catalog-item__title {
    padding: 30px 50px 30px 88px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 16px;
}

.catalog {
    margin-bottom: 60px;
}

.news-title {
    font-size: 18px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    margin-bottom: 16px;
}

.price-list {
    gap: 11px;
    flex-direction: column;
}

.price-banner {
    padding: 43px 24px;
}

.price-list__item {
    font-size: 18px;
    line-height: 24px;
}

.price-title {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 16px;
    margin-top: 93px;
}

.price-btn {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    padding: 20px;
    margin-bottom: 294px;
}

.price::after {
    right: 26px;
    height: 334px;
    width: 284px;
    bottom: -4px;
}

.map {
    padding-left: 8px;
    padding-right: 8px;
}

.map img {
    object-fit: cover;
    height: 788px;
   
}

.price-title span {
    font-size: 112px;
}
.map {
    margin-bottom: 84px;
}









.footer-top {
    flex-direction: column;
    gap: 32px;
}
.footer-bg {
    padding: 0;
}

.f__logo-img {
    width: 33px;
    margin-right: 10px;
}
.footer-center {
    padding-left: 8px;
    padding-right: 8px;
}
.f__logo-name {
    width: 151px;
}
.f__logo-name h3 {
    font-size: 8.5px;
    padding-bottom: 6px;
    margin-bottom: 6px;
}
.f__logo-name p {
    font-size: 8.8px;
}
.footer__search {
    width: 214px;
}

.footer-main__list:not(:nth-child(3)) {
    display: none;
}
.footer__woman-bg {
    width: 278px;
    height: 260px;
    right: 0;
}

.footer-main__list:nth-child(3) {
    margin-right: 0px;
    display: none;
}
.footer-info {
    text-align: center;
    width: 100%;
    right: 8px;
    position: static;
}

.footer-main {
    margin-right: 0;
    width: 100%;
    padding-bottom: 356px;
}

.footer__phone-number {
    font-size: 18px;
    margin-bottom: 3px;
    display: inline-block;
}

.social-list {
    gap: 16px;
    bottom: 300px;
    right: 30%;
    position: absolute;
}


}